.Button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bold;
}

.Button:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
}

.clear {
    padding: 0;
    background: none;
}

.primary {
    color: white;
    background-color: #005bff;
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
